<footer
  class="footer bg-dark py-3 mt-auto d-flex justify-content-center align-items-center"
>
  <div class="container d-flex justify-content-center align-items-center">
    <p class="text-white m-0">&copy; travelfun 2024</p>
  </div>
</footer>
