<% layout('layouts/boilerplate') %>
<div class="row mb-3">
  <h1 class="text-center fw-bold text-primary">新增推薦民宿 & 飯店資訊</h1>
  <div class="col-md-10 offset-md-1">
    <div class="card shadow">
      <div class="card-body">
        <form
          action="/hotels"
          method="POST"
          novalidate
          class="validated-form"
          enctype="multipart/form-data"
        >
          <div class="mb-3">
            <label class="form-label" for="Name">飯店名稱：</label>
            <input
              class="form-control"
              type="text"
              id="Name"
              name="hotel[Name]"
              required
            />
            <div class="valid-feedback">輸入正確!</div>
          </div>

          <div class="mb-3">
            <label class="form-label" for="Location">飯店位置：</label>
            <input
              class="form-control"
              type="text"
              id="Location"
              name="hotel[Location]"
              required
            />
            <div class="valid-feedback">輸入正確!</div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="Tel">連絡電話：</label>
            <input
              class="form-control"
              type="text"
              id="Tel"
              name="hotel[Tel]"
              required
            />
            <div class="valid-feedback">輸入正確!</div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="Website">官方網站：</label>
            <input
              class="form-control"
              type="text"
              id="Website"
              name="hotel[Website]"
              required
            />
            <div class="valid-feedback">輸入正確!</div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="Description">飯店描述：</label>
            <textarea
              class="form-control"
              type="text"
              id="Description"
              name="hotel[Description]"
              required
            ></textarea>
            <div class="valid-feedback">輸入正確!</div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="LowestPrice">最低價格：</label>
            <div class="input-group mb-3">
              <span class="input-group-text" id="LowestPrice">$NT</span>
              <input
                type="text"
                class="form-control"
                placeholder="0"
                aria-label="LowestPrice"
                aria-describedby="LowestPrice"
                id="LowestPrice"
                name="hotel[LowestPrice]"
                required
              />
              <div class="valid-feedback">輸入正確!</div>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="CeilingPrice">最高價格：</label>
            <div class="input-group mb-3">
              <span class="input-group-text" id="CeilingPrice-label">$NT</span>
              <input
                type="text"
                class="form-control"
                placeholder="0"
                aria-label="CeilingPrice"
                aria-describedby="CeilingPrice-label"
                id="CeilingPrice"
                name="hotel[CeilingPrice]"
                required
              />
              <div class="valid-feedback">輸入正確!</div>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="Serviceinfo">服務資訊：</label>
            <textarea
              class="form-control"
              type="text"
              id="Serviceinfo"
              name="hotel[Serviceinfo]"
              required
            ></textarea>
            <div class="valid-feedback">輸入正確!</div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="Parkinginfo">停車資訊：</label>
            <textarea
              class="form-control"
              type="text"
              id="Parkinginfo"
              name="hotel[Parkinginfo]"
              required
            ></textarea>
            <div class="valid-feedback">輸入正確!</div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="Image">添加更多圖片：</label>
            <input
              class="form-control"
              type="file"
              id="Image"
              name="hotel[Images]"
              multiple
            />
          </div>

          <div class="mb-3">
            <button class="btn btn-success">新增推薦名單</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<a href="/hotels"><i class="bi bi-arrow-left-square"></i> 返回所有飯店資訊</a>
