<% layout('layouts/boilerplate') %>
<div class="container d-flex justify-content-center align-items-center my-3">
  <div class="row">
    <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
      <div class="card shadow">
        <div>
          <img
            src="https://images.unsplash.com/photo-1445019980597-93fa8acb246c?q=80&w=2074&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt=""
            width="100%"
          />
        </div>

        <div class="card-body">
          <h5 class="card-title">註冊</h5>
          <form
            action="/register"
            method="post"
            class="validated-form"
            novalidate
          >
            <div class="mb-3">
              <label class="form-label" for="username">使用者名稱:</label>
              <input
                class="form-control"
                type="text"
                id="username"
                name="username"
                required
              />
              <div class="valid-feedback">looks good</div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="email">電子信箱:</label>
              <input
                class="form-control"
                type="text"
                id="email"
                name="email"
                required
              />
              <div class="valid-feedback">looks good</div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="password">密碼:</label>
              <input
                class="form-control"
                type="text"
                id="password"
                name="password"
                required
              />
              <div class="valid-feedback">looks good</div>
            </div>
            <button class="btn btn-success">註冊</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
